# Terraform
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform.tfstate.lock.info
.terraform/
.terraform*

# Output Files
*.zip
log*
__pycache__/

# OS-Related Files
.DS_Store
venv

##testing
*.parquet